In [2]:
import numpy as np
import pandas as pd
import sys
import time

## The raw data files have been concatenated into a single csv file
### Load it:

In [3]:
path = 'data/processed/LoanStats-combined-z.csv'
t1 = time.time()
df = pd.read_csv(path)
t2 = time.time()
print "{} bytes loaded in {:0.3f} secs".format(sys.getsizeof(df),t2-t1)
print df.shape

/Users/stephane/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1839704399 bytes loaded in 20.421 secs
(887382, 114)

In [4]:
print list(df.columns)

['lc_id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'lc_zip3', 'zil_coef', 'zil_interc']

In [5]:
df.head(1)

,lc_id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,lc_zip3,zil_coef,zil_interc
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,860,NaN,NaN

## Try to find categorical features, & verify data types

Categorical features are most likely string types with a handful of unique values. Try to identify those here:

In [6]:
num_unique_items = [ df[x].unique().shape[0] for x in df]
print 'numvalues, index, type, name'
for x in sorted(zip(num_unique_items,range(len(df.columns)),[type(df[x][0]) for x in df.columns],df.columns)):
    print x

numvalues, index, type, name
(1, 51, <type 'numpy.int64'>, 'policy_code')
(2, 5, <type 'str'>, 'term')
(2, 17, <type 'str'>, 'pymnt_plan')
(2, 35, <type 'str'>, 'initial_list_status')
(2, 52, <type 'str'>, 'application_type')
(3, 14, <type 'str'>, 'verification_status')
(4, 55, <type 'float'>, 'verification_status_joint')
(6, 12, <type 'str'>, 'home_ownership')
(6, 99, <type 'numpy.float64'>, 'num_tl_120dpd_2m')
(6, 100, <type 'numpy.float64'>, 'num_tl_30dpd')
(7, 8, <type 'str'>, 'grade')
(9, 16, <type 'str'>, 'loan_status')
(9, 56, <type 'numpy.float64'>, 'acc_now_delinq')
(11, 78, <type 'numpy.float64'>, 'chargeoff_within_12_mths')
(12, 11, <type 'str'>, 'emp_length')
(13, 49, <type 'numpy.float64'>, 'collections_12_mths_ex_med')
(13, 61, <type 'numpy.float64'>, 'open_il_12m')
(13, 105, <type 'numpy.float64'>, 'pub_rec_bankruptcies')
(14, 20, <type 'str'>, 'purpose')
(14, 59, <type 'numpy.float64'>, 'open_acc_6m')
(18, 62, <type 'numpy.float64'>, 'open_il_24m')
(19, 66, <type 'numpy.float64'>, 'open_rv_12m')
(19, 71, <type 'numpy.float64'>, 'inq_fi')
(27, 87, <type 'numpy.float64'>, 'mths_since_recent_inq')
(27, 101, <type 'numpy.float64'>, 'num_tl_90g_dpd_24m')
(29, 27, <type 'numpy.float64'>, 'inq_last_6mths')
(29, 67, <type 'numpy.float64'>, 'open_rv_24m')
(29, 73, <type 'numpy.float64'>, 'inq_last_12m')
(29, 102, <type 'numpy.float64'>, 'num_tl_op_past_12m')
(30, 25, <type 'numpy.float64'>, 'delinq_2yrs')
(32, 106, <type 'numpy.float64'>, 'tax_liens')
(33, 31, <type 'numpy.float64'>, 'pub_rec')
(33, 90, <type 'numpy.float64'>, 'num_actv_bc_tl')
(34, 72, <type 'numpy.float64'>, 'total_cu_tl')
(35, 9, <type 'str'>, 'sub_grade')
(36, 60, <type 'numpy.float64'>, 'open_il_6m')
(37, 89, <type 'numpy.float64'>, 'num_accts_ever_120_pd')
(40, 84, <type 'numpy.float64'>, 'mort_acc')
(45, 97, <type 'numpy.float64'>, 'num_rev_tl_bal_gt_0')
(47, 91, <type 'numpy.float64'>, 'num_actv_rev_tl')
(49, 74, <type 'numpy.float64'>, 'acc_open_past_24mths')
(49, 92, <type 'numpy.float64'>, 'num_bc_sats')
(51, 23, <type 'str'>, 'addr_state')
(64, 93, <type 'numpy.float64'>, 'num_bc_tl')
(64, 95, <type 'numpy.float64'>, 'num_op_rev_tl')
(77, 98, <type 'numpy.float64'>, 'num_sats')
(78, 30, <type 'numpy.float64'>, 'open_acc')
(99, 96, <type 'numpy.float64'>, 'num_rev_accts')
(101, 45, <type 'str'>, 'last_pymnt_d')
(103, 15, <type 'str'>, 'issue_d')
(103, 47, <type 'float'>, 'next_pymnt_d')
(106, 94, <type 'numpy.float64'>, 'num_il_tl')
(107, 48, <type 'str'>, 'last_credit_pull_d')
(124, 29, <type 'numpy.float64'>, 'mths_since_last_record')
(136, 34, <type 'numpy.float64'>, 'total_acc')
(156, 28, <type 'numpy.float64'>, 'mths_since_last_delinq')
(159, 86, <type 'numpy.float64'>, 'mths_since_recent_bc_dlq')
(159, 88, <type 'numpy.float64'>, 'mths_since_recent_revol_delinq')
(169, 50, <type 'numpy.float64'>, 'mths_since_last_major_derog')
(175, 83, <type 'numpy.float64'>, 'mo_sin_rcnt_tl')
(202, 63, <type 'numpy.float64'>, 'mths_since_rcnt_il')
(222, 104, <type 'numpy.float64'>, 'percent_bc_gt_75')
(257, 82, <type 'numpy.float64'>, 'mo_sin_rcnt_rev_tl_op')
(309, 53, <type 'numpy.float64'>, 'annual_inc_joint')
(359, 112, <type 'numpy.float64'>, 'zil_coef')
(359, 113, <type 'numpy.float64'>, 'zil_interc')
(450, 54, <type 'numpy.float64'>, 'dti_joint')
(457, 85, <type 'numpy.float64'>, 'mths_since_recent_bc')
(499, 80, <type 'numpy.float64'>, 'mo_sin_old_il_acct')
(542, 6, <type 'str'>, 'int_rate')
(569, 103, <type 'numpy.float64'>, 'pct_tl_nvr_dlq')
(698, 26, <type 'str'>, 'earliest_cr_line')
(731, 81, <type 'numpy.float64'>, 'mo_sin_old_rev_tl_op')
(935, 22, <type 'str'>, 'zip_code')
(935, 111, <type 'numpy.int64'>, 'lc_zip3')
(1129, 69, <type 'numpy.float64'>, 'all_util')
(1273, 65, <type 'numpy.float64'>, 'il_util')
(1333, 79, <type 'numpy.float64'>, 'delinq_amnt')
(1357, 33, <type 'str'>, 'revol_util')
(1372, 2, <type 'numpy.int64'>, 'loan_amnt')
(1372, 3, <type 'numpy.int64'>, 'funded_amnt')
(1396, 77, <type 'numpy.float64'>, 'bc_util')
(4086, 24, <type 'numpy.float64'>, 'dti')
(6662, 42, <type 'numpy.float64'>, 'total_rec_late_fee')
(9843, 4, <type 'numpy.float64'>, 'funded_amnt_inv')
(10326, 57, <type 'numpy.float64'>, 'tot_coll_amt')
(10708, 68, <type 'numpy.float64'>, 'max_bal_bc')
(14841, 109, <type 'numpy.float64'>, 'total_bc_limit')
(17031, 64, <type 'numpy.float64'>, 'total_bal_il')
(21252, 70, <type 'numpy.float64'>, 'total_rev_hi_lim')
(27374, 44, <type 'numpy.float64'>, 'collection_recovery_fee')
(29325, 43, <type 'numpy.float64'>, 'recoveries')
(49385, 13, <type 'numpy.float64'>, 'annual_inc')
(61853, 76, <type 'numpy.float64'>, 'bc_open_to_buy')
(63146, 21, <type 'str'>, 'title')
(67492, 75, <type 'numpy.float64'>, 'avg_cur_bal')
(68713, 7, <type 'numpy.float64'>, 'installment')
(73740, 32, <type 'numpy.int64'>, 'revol_bal')
(124471, 19, <type 'str'>, 'desc')
(139517, 110, <type 'numpy.float64'>, 'total_il_high_credit_limit')
(153975, 108, <type 'numpy.float64'>, 'total_bal_ex_mort')
(241675, 36, <type 'numpy.float64'>, 'out_prncp')
(253269, 46, <type 'numpy.float64'>, 'last_pymnt_amnt')
(258960, 37, <type 'numpy.float64'>, 'out_prncp_inv')
(261687, 40, <type 'numpy.float64'>, 'total_rec_prncp')
(299273, 10, <type 'float'>, 'emp_title')
(327343, 58, <type 'numpy.float64'>, 'tot_cur_bal')
(337522, 41, <type 'numpy.float64'>, 'total_rec_int')
(344973, 107, <type 'numpy.float64'>, 'tot_hi_cred_lim')
(528847, 39, <type 'numpy.float64'>, 'total_pymnt_inv')
(543002, 38, <type 'numpy.float64'>, 'total_pymnt')
(887382, 0, <type 'numpy.int64'>, 'lc_id')
(887382, 1, <type 'numpy.int64'>, 'member_id')
(887382, 18, <type 'str'>, 'url')

## Categoricals probably have fewer unique values, look for those (they will also have at least 2 different values, otherwise they're not a variable). Also list the actual values.

In [7]:
nuis = [ df.columns[i] for i, x in enumerate(num_unique_items) if (x < 20) & (x > 1)]
for x in nuis:
    print "'{}'".format(x)
    print df[x].value_counts()
    print

'term'
 36 months    621127
 60 months    266255
Name: term, dtype: int64

'grade'
B    254535
C    245860
A    148203
D    139543
E     70705
F     23047
G      5489
Name: grade, dtype: int64

'emp_length'
10+ years    291570
2 years       78870
< 1 year      70606
3 years       70026
1 year        57095
5 years       55704
4 years       52529
n/a           44825
7 years       44595
8 years       43955
6 years       42950
9 years       34657
Name: emp_length, dtype: int64

'home_ownership'
MORTGAGE    443558
RENT        356118
OWN          87471
OTHER          182
NONE            50
ANY              3
Name: home_ownership, dtype: int64

'verification_status'
Source Verified    329559
Verified           291071
Not Verified       266752
Name: verification_status, dtype: int64

'loan_status'
Current                                                573404
Fully Paid                                             238357
Charged Off                                             53599
Late (31-120 days)                                      11339
In Grace Period                                          5346
Late (16-30 days)                                        2297
Does not meet the credit policy. Status:Fully Paid       1988
Does not meet the credit policy. Status:Charged Off       761
Default                                                   291
Name: loan_status, dtype: int64

'pymnt_plan'
n    887376
y         6
Name: pymnt_plan, dtype: int64

'purpose'
debt_consolidation    524216
credit_card           206183
home_improvement       51830
other                  42894
major_purchase         17277
small_business         10377
car                     8863
medical                 8540
moving                  5414
vacation                4736
house                   3707
wedding                 2347
renewable_energy         575
educational              423
Name: purpose, dtype: int64

'initial_list_status'
f    456850
w    430532
Name: initial_list_status, dtype: int64

'collections_12_mths_ex_med'
0.0     875556
1.0      10824
2.0        732
3.0         88
4.0         23
5.0          7
6.0          2
20.0         1
16.0         1
14.0         1
10.0         1
7.0          1
Name: collections_12_mths_ex_med, dtype: int64

'application_type'
INDIVIDUAL    886871
JOINT            511
Name: application_type, dtype: int64

'verification_status_joint'
Not Verified       283
Verified           167
Source Verified     61
Name: verification_status_joint, dtype: int64

'acc_now_delinq'
0.0     883239
1.0       3866
2.0        208
3.0         28
4.0          7
5.0          3
14.0         1
6.0          1
Name: acc_now_delinq, dtype: int64

'open_acc_6m'
0.0     8246
1.0     6808
2.0     3752
3.0     1572
4.0      593
5.0      232
6.0      104
7.0       37
8.0       13
9.0        7
10.0       4
14.0       2
12.0       2
Name: open_acc_6m, dtype: int64

'open_il_12m'
0.0     10806
1.0      6655
2.0      2785
3.0       727
4.0       235
5.0        96
6.0        46
7.0        11
8.0         5
9.0         3
10.0        2
12.0        1
Name: open_il_12m, dtype: int64

'open_il_24m'
1.0     6436
0.0     5481
2.0     4448
3.0     2468
4.0     1249
5.0      606
6.0      309
7.0      163
8.0       81
9.0       47
10.0      28
11.0      23
12.0      17
13.0       7
14.0       6
15.0       2
19.0       1
Name: open_il_24m, dtype: int64

'open_rv_12m'
0.0     7073
1.0     6415
2.0     3955
3.0     2125
4.0      962
5.0      420
6.0      204
7.0      103
8.0       50
10.0      24
9.0       21
12.0       7
11.0       6
14.0       2
15.0       2
19.0       1
16.0       1
22.0       1
Name: open_rv_12m, dtype: int64

'inq_fi'
0.0     11411
1.0      5009
2.0      2530
3.0      1119
4.0       589
5.0       354
6.0       165
7.0        91
8.0        42
9.0        23
10.0       13
11.0       11
12.0        5
13.0        5
14.0        2
16.0        1
15.0        1
17.0        1
Name: inq_fi, dtype: int64

'chargeoff_within_12_mths'
0.0     880188
1.0       6389
2.0        544
3.0         76
4.0         21
5.0          9
6.0          5
7.0          3
10.0         1
9.0          1
Name: chargeoff_within_12_mths, dtype: int64

'num_tl_120dpd_2m'
0.0    789187
1.0       550
2.0        20
3.0         2
6.0         1
Name: num_tl_120dpd_2m, dtype: int64

'num_tl_30dpd'
0.0    814390
1.0      2561
2.0       130
3.0        19
4.0         6
Name: num_tl_30dpd, dtype: int64

'pub_rec_bankruptcies'
0.0     788127
1.0      91990
2.0       4596
3.0        948
4.0        226
5.0         82
6.0         24
7.0         14
8.0          6
9.0          2
12.0         1
11.0         1
Name: pub_rec_bankruptcies, dtype: int64

## There are several obvious categoricals based on the above list

### These first two I will treat as ordered, since it seems there is a logical ordering of their values:
- `'term'` - the length of the loan, treating it as an ordinal
- `'emp_length'` - can also be treated as an ordinal, I think

### Lending Club loan grade:
- `'grade'` - this I'll eventually treat as a response, based on previous analysis. It's already a ranking of the probability that the loan will be paid back.

### And the categoricals:
- ```
'home_ownership', 'verification_status', 'pymnt_plan','purpose','initial_list_status','application_type','verification_status_joint'
                    ```
                    
### The remaining variables in the short list all have numeric values, so I'm going to leave them that way.

## Process the unordered categoricals:

In [8]:
cat_feature_names = ['home_ownership', 'verification_status', 
                     'pymnt_plan','purpose','initial_list_status',
                    'application_type','verification_status_joint']

df_catf = pd.get_dummies(df[cat_feature_names])
df=pd.concat([df,df_catf],axis = 1)
print df.shape

(887382, 146)

## Process the ordered categoricals:

In [9]:
ord_feature_names = ['term', 'emp_length']
ord_feature_numnames = [x + '_num' for x in ord_feature_names]
ord_feature_map = [
    ['term', {' 36 months' :0, ' 60 months' : 1}], 
    ['emp_length', {'< 1 year': .5, '1 year' : 1, '2 years' : 2, '3 years' : 3, '4 years':4, '5 years':5, 
                   '6 years':6, '7 years':7, '8 years':8, '9 years':9, '10+ years':10,
                   'n/a': 0 }]
]

In [10]:
#minidf = df.head(30) # for testing dummies & categorical conversions
for x in ord_feature_map:
    df[x[0]+'_num']=df[x[0]].map(x[1])
#print df.head()
print df[ord_feature_names].head()
print df[ord_feature_numnames].head()

         term emp_length
0   36 months  10+ years
1   60 months   < 1 year
2   36 months  10+ years
3   36 months  10+ years
4   60 months     1 year
   term_num  emp_length_num
0         0            10.0
1         1             0.5
2         0            10.0
3         0            10.0
4         1             1.0

In [11]:
print df.shape

(887382, 148)

## Convert the response variable to a binary representation

`'loan_status'` Is what I eventually want to predict. It has many possible values, but the majority of them can be simplified to either a 'successful' loan or a 'default' loan

In [12]:
df.loan_status.value_counts()

Current                                                573404
Fully Paid                                             238357
Charged Off                                             53599
Late (31-120 days)                                      11339
In Grace Period                                          5346
Late (16-30 days)                                        2297
Does not meet the credit policy. Status:Fully Paid       1988
Does not meet the credit policy. Status:Charged Off       761
Default                                                   291
Name: loan_status, dtype: int64

In [13]:
df['loan_status_num'] = df.loan_status.map(
    {'Charged Off':0, 'Default':0, 'Fully Paid':1, 'Current':1})
tot_good_loans = df.loan_status_num[df.loan_status_num == 1].count()
total_success_rate = float(tot_good_loans)/df.loan_status_num.count()
print "overall success rate for loans({}/{}):  {}% ".format(
    tot_good_loans, df.loan_status_num.count(), total_success_rate)

overall success rate for loans(811761/865651):  0.937746274191%

## Modify 'grade'

I can use this for comparison and/or verification during parts of the analysis

In [14]:
df.grade.value_counts().sort_index()

A    148203
B    254535
C    245860
D    139543
E     70705
F     23047
G      5489
Name: grade, dtype: int64

In [15]:
df['grade_num'] = df.grade.map({'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6})
gradenames=sorted(df.grade.unique())
gradenums = np.arange(0,7)

### Save this version of the file

In [16]:
pwd

u'/Users/stephane/classes/ds2/repos/gadat-project'

In [18]:
print list(df.columns)

['lc_id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'lc_zip3', 'zil_coef', 'zil_interc', 'home_ownership_ANY', 'home_ownership_MORTGAGE', 'home_ownership_NONE', 'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT', 'verification_status_Not Verified', 'verification_status_Source Verified', 'verification_status_Verified', 'pymnt_plan_n', 'pymnt_plan_y', 'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation', 'purpose_educational', 'purpose_home_improvement', 'purpose_house', 'purpose_major_purchase', 'purpose_medical', 'purpose_moving', 'purpose_other', 'purpose_renewable_energy', 'purpose_small_business', 'purpose_vacation', 'purpose_wedding', 'initial_list_status_f', 'initial_list_status_w', 'application_type_INDIVIDUAL', 'application_type_JOINT', 'verification_status_joint_Not Verified', 'verification_status_joint_Source Verified', 'verification_status_joint_Verified', 'term_num', 'emp_length_num', 'loan_status_num', 'grade_num']

In [19]:
path = 'data/processed/LoanStats-combined-z-2.csv'
t1 = time.time()
df.to_csv(path,index = False)
print df.shape
t2 = time.time()
print t2-t1

(887382, 150)
155.400627136